#------------------------------------------------
# Modify the region to use different AWS region
#------------------------------------------------
aws_region = "us-east-2"
aws_zone   = "us-east-2a"
alias      = "stevet-test-kms-key" #This is the Alias (ie "Friendly Name") name of the KMS Key
engineer   = "stevet"
